header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  color: $white;
  background-color: transparent;
  z-index: 10;
  align-items: center;

  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }

  &.header-bg {
    color: $grey;
    background-color: $white50;

    ul.nav {
      li {
        a {
          color: $grey;
        }
      }
    }
  }

  h2 {
    font-size: $h2m;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin-left: 0.5rem;

    span:last-child {
      font-size: 0.95rem;
    }

    @include breakpoint(md){
      padding: 0 3rem;
      font-size: $h2;
    }
  }

  //navigation component
  .navbar {
    position: absolute;
    top: -35px;
    right: -40px;

    @include breakpoint (md) {
      top: 0;
      right: 0;
      height: 100%;
    }

    div {
      position: fixed !important;
      top: 20px;
      right: 20px;
    }

    ul.nav {
      height: 100%;
      @include breakpoint(md) {
        display: flex;
        align-items: center;
      }

      @include breakpoint(lg) {
        margin-right: 3rem;
      }

      li {
        padding: 0 2rem;
      }      
    }

    // for mobile
    ul.hamburgerDropDown {
      background: $secondary50;
      border-radius: 50%;
      height: 250px;
      width: 250px;
      @include flex-column;
      justify-content: center;

      li {
        padding: 0.5rem 2rem 0.5rem 0;
        
        a {
          color: $white;
        }
      }
    }
  }
}