header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  color: $white;
  background-color: transparent;

  &.header-bg {
    color: $grey;
    background-color: $white50;

    a {
      color: $grey;
    }
  }


  h2 {
    font-size: $h2;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
    span:last-child {
      font-size: 0.95rem;
    }
  }

  ul {
    display: flex;
    margin-right: 3rem;
    align-items: center;

    li {
      padding: 0 2rem;

      a {
        color: $white;
      }
    }
  }

}