//fonts
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,500|Noto+Sans:400,700&display=swap");

$font-en: 'Noto Sans', sans-serif;
$font-jp: 'M PLUS Rounded 1c', sans-serif;
$font-jp2: '07LogoTypeGothic7', Maru Folk Medium,'M PLUS Rounded 1c', sans-serif;

//colours
$primary-color: #17a2b8;
$secondary-color: #b82d17;
$secondary80: rgba(184, 45, 23, 0.8);
$secondary50: rgba(184, 45, 23, 0.5);
$grey: #3e4348;
$grey10: rgba(62, 67, 72, 0.1);
$white: #fff;
$white50: rgba(255,255,255,0.5);
$white20: rgba(255,255,255,0.2);
$black10: rgba(0,0,0,0.1);
$gradient1: linear-gradient(90deg, rgba(23,162,184,1) 0%, rgba(255,255,255,1) 100%);

//font sizes
$h1: 5rem;
$h2: 2rem;
$h3: 2.5rem;
$h4: 1.5rem;
$h5: 1rem;
$button: 1.25rem;
$h2m: 1.75rem;

//border radius
$border10: 10px;