//fonts
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p|Noto+Sans:400,700&display=swap");

$font-en: 'Noto Sans', sans-serif;
$font-jp: 'M PLUS 1p', sans-serif;

//colours
$primary-color: #17a2b8;
$secondary-color: #b82d17;
$grey: #3e4348;
$white: #fff;

//font sizes
$h1: 5rem;
$h2: 2rem;
$h3: 2.5rem;
$h5: 1rem;