@import "config";
@import "typography";
@import "header";
@import "homepage";

body {
  margin: 0;
  font-family: $font-en;
  color: $grey;
}

a {
  color: $secondary-color;

  &:hover {
    text-decoration: underline;
  }
}

h3 {
  text-align: center;
  font-size: $h3;
  text-transform: uppercase;
  margin-bottom: 1rem;
  
  @include breakpoint(xxs) {
  font-size: 1.5rem;
  }
}

h4 {
  text-align: center;
  font-size: $h4;
  font-family: $font-jp;
  margin-bottom: 1rem;
  font-weight: 400;
}

button {
  min-width: 150px;
  background-color: $secondary80;
  font-size: $button;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: $border10;
  font-family: $font-en;

  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: $secondary-color;
  }
}