@import url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,500|Noto+Sans:400,700&display=swap);
body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  background-color: transparent; }
  header.header-bg {
    color: #3e4348;
    background-color: rgba(255, 255, 255, 0.5); }
    header.header-bg a {
      color: #3e4348; }
  header h2 {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem; }
    header h2 span:last-child {
      font-size: 0.95rem; }
  header ul {
    display: flex;
    margin-right: 3rem;
    align-items: center; }
    header ul li {
      padding: 0 2rem; }
      header ul li a {
        color: #fff; }

.top-copy {
  background-image: url("/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: center; }
  .top-copy .copy-container {
    margin-left: 5rem; }
    .top-copy .copy-container h1 {
      font-size: 5rem;
      width: 50%; }
    .top-copy .copy-container p {
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-weight: 300;
      font-size: 1.5rem; }
  .top-copy button {
    align-self: flex-end;
    margin-right: 10rem; }

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #17a2b8;
  padding: 5%; }
  .services h3 {
    color: #fff; }
  .services .services-list {
    padding: 5% 0;
    margin: 3% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px; }
    .services .services-list li {
      display: flex;
      align-items: center;
      width: 35%;
      justify-content: space-between;
      padding: 0.5rem; }
      .services .services-list li:first-child, .services .services-list li:nth-child(2) {
        margin-bottom: 3rem; }
      .services .services-list li .icon {
        color: #17a2b8;
        opacity: 0.8;
        font-size: 3rem; }
      .services .services-list li p {
        font-size: 0.9rem;
        margin: 0 1.5rem;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 300; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%; }
  .about div {
    padding: 2rem 0; }
    .about div h4 {
      text-align: center; }
    .about div ul {
      min-width: 500px; }
      .about div ul li {
        display: flex;
        align-items: center;
        margin: 1rem; }
        .about div ul li h5 {
          color: #17a2b8;
          font-size: 1rem;
          text-align: right;
          width: 4rem;
          font-family: "M PLUS Rounded 1c", sans-serif;
          font-weight: 500; }
        .about div ul li p {
          padding-left: 1rem;
          margin-left: 1rem;
          border-left: 1px solid #17a2b8;
          font-family: "M PLUS Rounded 1c", sans-serif;
          font-weight: 300; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-color: #17a2b8;
  color: #fff; }
  .contact p {
    text-align: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400; }
  .contact #typeform {
    width: 50%;
    height: 350px;
    padding: 2rem; }

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #3e4348; }

a {
  color: #b82d17; }
  a:hover {
    text-decoration: underline; }

h3 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem; }

h4 {
  text-align: center;
  font-size: 1.25rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-bottom: 1rem;
  font-weight: 400; }

button {
  min-width: 150px;
  background-color: rgba(184, 45, 23, 0.8);
  font-size: 1.25rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif; }
  button a {
    color: #fff; }
    button a:hover {
      text-decoration: none; }
  button:hover {
    cursor: pointer;
    background-color: #b82d17; }


/*# sourceMappingURL=styles.chunk.css.map*/